.cart__wrapper {
    padding: 30px 0 80px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 16px;
}

.cart__wrapper-content {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 16px;
    gap: 20px;
}

.cart__wrapper-item {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.cart__wrapper-item h3 {
    font-size: 17px;
    color: #555;
    white-space: nowrap;
}

.cart__wrapper p {
    white-space: nowrap;
}


.cart__wrapper-item h2 {
    font-size: 18px;
    /* color: #555; */
    white-space: nowrap;
    color: var(--bg-py);
}

.cart__wrapper-item button {
    background-color: transparent;
    border: none;
}

.cart__wrapper-item .btn__delete {
    font-size: 25px;
    color: #555;
}

.cart__wrapper__buttons {
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid #555;
    padding: 5px 20px;
    border-radius: 5px;
}

.cart__wrapper__buttons button {
    border: none;
    background-color: transparent;
    font-size: 22px;
}

.cart__wrapper-form {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 50px 12px;
    height: 350px;
    max-width: 270px;
    text-align: center;
    gap: 20px;
}

.cart__wrapper-form form {
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.cart__wrapper-form input {
    width: 250px;
    height: 30px;
    margin: auto;
    text-indent: 10px;
    color: var(--bg-py);
    font-size: 18px;
    border-radius: 5px;
}

.cart__wrapper-form input::placeholder {
    color: black;
    font-size: 18px;
}

.cart__wrapper-form button {
    border: none;
    background-color: red;
    color: white;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    font-size: 17px;
    margin: auto;
}


@media screen and (max-width:1205px) {
    .cart__wrapper {
        grid-template-columns: 1fr;
        /* width: 95%; */
    }

    .cart__wrapper-content {
        border: none;
        order: 2;
    }

    .cart__wrapper-form {
        order: 1;
        width: 350px;
        margin: auto;
    }
}

@media screen and (max-width: 870px) {
    .cart__wrapper-item {
        flex-direction: column;
        height: 400px;
        gap: 10px;
        padding: 40px 0;
    }

    .cart__wrapper-item img {
        width: 100px;
    }


    .cart__wrapper-item h2 {
        font-size: 22px;
    }

    .cart__wrapper-item h3 {
        font-size: 21px;
    }

}

@media screen and (max-width: 500px) {
    .cart__wrapper-item h2 {
        font-size: 18px;
    }

    .cart__wrapper-item h3 {
        font-size: 17px;
    }
}

@media screen and (max-width: 650px) {
    .cart__wrapper-content {
        border: none;
    }

    .cart__wrapper-item h3 {
        white-space: normal;
    }
}


@media screen and (max-width: 460px) {
    .cart__wrapper-item {
        text-align: center;
        /* border: none; */
    }


    .cart__wrapper-item h3 {
        white-space: normal;
    }

    .cart__wrapper-form {
        border: none;
        width: auto;
        margin: auto;
    }
}

@media screen and (max-width: 330px) {
    .cart__wrapper-form {
        width: auto;
    }
}